body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  margin: auto;
  height: 100vh;
  width: 100%;
}

.navlist {
  max-height: 70vh;
  height: 45vh;
  overflow-y: auto;
  overflow-x: hidden; 
  z-index: 1;
  visibility: visible;
}

.navbar {
  text-align: center;
  margin: 5px;
  width: 20vw; 
  max-width: 350px; 
  min-width: 307px;
  z-index: 2;
}

.nav-bottom {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 20vw; 
  max-width: 350px; 
  min-width: 307px;
}

.footer-br {
  display: block;
  content: "";
  margin-top: 10px;
}

.header-br {
  display: block;
  content: "";
  margin-top: 5px;
}

.menu-spacer {
  display: block;
  content: "";
  margin-top: 5px;
}

.chart-wrapper {
  position: fixed;
  bottom: 70px;
}

.options {
  position: fixed;
  width: 20vw; 
  max-width: 350px; 
  min-width: 307px;  
/*  bottom: 60px; */
  height: 45vh;
  top: 55px;
  left: 5px;
  right: 5px;
  background-color: #fff;
  z-index: 3;
  display: none;
}

.advanced-options {
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;

}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: relative;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.sidebar-toggle {
  position: absolute;
  top: 47%;
  height: 6%;
  width: 25px;
  z-index: 1;
  cursor: pointer;
  font-size: x-large;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 1px;
  border-color: rgb(131, 131, 131);
}

.boxdraw {
  background: rgba(56, 135, 190, 0.1);
  border: 2px solid #3887be;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

/* .marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
} */